*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}

body{
	background-color: #ccc;
}

.principal{
	background-color: #ccc;
	width: 1200px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	
}

header, nav, section, aside{
	background-color: white;
	margin-bottom: 10px;
}

header{
	width:1200px;
	height: 100px;
}

nav{
	width: 1200px;
	height: 40px;
}

section{
	width: 900px;
	height: 500px;
	float: left;
}

aside{
	width: 290px;
	height: 500px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
	
}

footer{
	background-color: white;
	height: 40px;
	clear: both;
	
}

